{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="./static/css/style.css">
<link href="./static/css/nouislider.min.css" rel="stylesheet">
<script src="./static/js/nouislider.min.js"></script>
{% endblock %}



{% block content %}
	<h1>{% block title %} WhatsApp Wordcloud Generator {% endblock %}</h1>

	{% if plot %}

		<div class="alert alert-success" role="alert">
			Your file has been uploaded successfully
		</div>
		<hr>
		<h2>Wordcloud:</h2><br>
		<img src="{{url}}">
		<hr>
		<!-- <div class="container">
			<h2> Optional Filters </h2>
			<form action = "/edited" method = "POST" 
				enctype = "multipart/form-data">
				<div>
					Start:
					<form>
						<input name="new start_date" type="date" min={{start_date}} max={{end_date}} value={{start_date}}>
					<br>
					End:
						<input name="new end_date" type="date" min={{start_date}} max={{end_date}} value={{end_date}}>
					<br>
					<button type="submit" class="btn btn-primary">Apply</button>
					</form>
				</div>
			</form>
		</div> -->


		<script type="text/javascript" src="./static/js/slider.js"></script>

	{% else %}
		<div class="container">
			{% if date_error %}
				<div class="alert alert-warning" role="alert">
					Start date can not be greater than end date.
				</div>
			{% endif %} 
			{% if no_element_error %}
				<div class="alert alert-warning" role="alert">
					There are no messages in the selected time period. 
				</div>
			{% endif %}


			<form action = "http://localhost:5000/" method = "POST" enctype = "multipart/form-data">
				<input type = "file" name = "file" />
			<br>
			<br>
			<h3> Optional Filters: </h3>
					<div>
						Start:
						<form>
							<input name="start_date" type="date">
						<br>
						End :
							<input name="end_date" type="date" >
						<br><br>
						<button type="submit" class="btn btn-primary">Upload</button>
						</form>
					</div>
				</form>
		</div>
	<!-- <script type="text/javascript"> console.log("{{ file }}")</script>		 -->
	{% endif %}
{% endblock %}
